name: Release Typora Theme

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Get current tag version
      id: tag
      run: |
        TAG=$(git describe --tags --abbrev=0)
        echo "Current tag: ${TAG}"
        echo "current_tag=${TAG}" >> $GITHUB_OUTPUT

    - name: Create zip file
      run: |
        shopt -s nullglob
        # 打包内容：phycat目录、所有css、所有md、所有html
        zip -r typora-theme-phycat.zip phycat/ *.css *.md *.html
        
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: typora-theme-phycat.zip
        tag_name: ${{ steps.tag.outputs.current_tag }}
        name: ${{ steps.tag.outputs.current_tag }}
        body: |
          版本更新：${{ steps.tag.outputs.current_tag }}
          更新内容: ${{ github.event.head_commit.message }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}